h1.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* Border radius */
  background-color: #b7302a; /* Background color */
  padding: 10px 20px; /* Add some padding */
  color: #000000; /* Text color */
  font-size: 2rem; /* Increase font size */
  font-weight: bold; /* Make text bold */
}
/* Login.css */
.login-container {
  /* Use Flexbox to center the form both vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Make the container take up the full height of the viewport */
  height: 100vh;
  /* Set a neutral gray background color */
  background-color: #f0f0f0;
  /* Add some padding around the form to make it look more balanced */
  padding: 2rem;
}

.formulario {
  padding: 2rem; /* Increased padding for better readability */
  background-color: #efcacd; /* Light gray color for the form background */
  border-radius: 2rem; /* Increased border radius for softer edges */
  box-shadow: 0 4px 10px #0000001a; /* Slightly darker and larger shadow */
  width: 100%; /* Full width for responsiveness */
  max-width: 40rem; /* Maximum width to prevent the form from becoming too wide */
  margin: 0 auto; /* Centered horizontally */
  font-size: calc(1rem + 0.5vmin); /* Improved font size calculation */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Asegúrate de aplicar las clases a tus elementos en el componente */
.label-container {
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the content */
  height: 30px; /* add a fixed height to the container */
  padding: 0 10px; /* add some padding to the container */
  box-sizing: border-box; /* include padding in the total height */
  background-color: #f2f2f2; /* add some background color to the container */
  border-radius: 5px; /* add some border radius to the container */
}

p {
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the content */
  font-size: 1.5rem;
  height: 100%;
}
select {
  border: 1px solid #000000; /* add a border with a width of 1px, solid style, and a gray color */
  padding: 5px; /* add some padding to the select element */
  border-radius: 5px; /* add some border radius to the select element */
}
input {
  border: 1px solid #000000; /* add a border with a width of 1px, solid style, and a gray color */
  padding: 5px; /* add some padding to the select element */
  border-radius: 5px; /* add some border radius to the select element */
}
.my-button {
  background-color: #648e48; /* Green background color */
  border: none;
  color: #222222;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.my-button:active {
  background-color: #3e8e41; /* Darker green background color when button is clicked */
}