.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* Bordes redondeados */
  background-color: #838383; /* Color de fondo de tu elección */
}
/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana del navegador */
  background-color: #f0f0f0; /* Color de fondo de tu elección */
}

.formulario {
  padding: 20px;
  background-color: white; /* Color de fondo del formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  width: 400px; /* Ancho del formulario */
}

/* Asegúrate de aplicar las clases a tus elementos en el componente */
form{
  margin: 100px;
  background-position: center;
  background-color: #858585;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}
option{
  background-position: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}
.label-container {
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the content */
  height: 30px; /* add a fixed height to the container */
  padding: 0 10px; /* add some padding to the container */
  box-sizing: border-box; /* include padding in the total height */
  background-color: #f2f2f2; /* add some background color to the container */
  border-radius: 5px; /* add some border radius to the container */
}

p {
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the content */
  font-size: 1.5rem;
  height: 100%;
}
select {
  border: 1px solid #000000; /* add a border with a width of 1px, solid style, and a gray color */
  padding: 5px; /* add some padding to the select element */
  border-radius: 5px; /* add some border radius to the select element */
}
input {
  border: 1px solid #000000; /* add a border with a width of 1px, solid style, and a gray color */
  padding: 5px; /* add some padding to the select element */
  border-radius: 5px; /* add some border radius to the select element */
}