.HeaderStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #659048;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
}

.logoStyle {
  height: 50px;
  width: 76px;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.HeaderButtons {
  background-color: #b7302a;
  border: 2px solid #efcacd;
  border-radius: 12px;
  padding: 5px 12px;
  margin-left: 10px;
  color: white;
}

.boton_mesa_div {
  position: relative;
  width: 200px;
  height: 200px;
}

.boton_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton_boton_Mesa {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #659048;
  color: white;
  border: none;
  border-radius: 0 0 12px 12px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boton-mesa-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  width: 100%;
}

.boton-mesa-grid-container > * {
  flex: 2;
  margin: 10px;
}